.ul {
    list-style-type: none;
    widows: 100%;
}
ul li {
    width: 50px;
    background-color: red;
    height: 50px;
}

.box:hover{
    border: 1px solid blue;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.widget-user .widget-user-image>img
{
    width: 110px;
    margin-bottom: 5px;
}

.widget-user .widget-user-image>img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    widows: 500px;
}
.img1 {    
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.loading{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}
